In [1]:
import json
import geopandas as gpd
import pandas as pd

In [2]:
nta_table = gpd.read_file('NY_NTA.geojson')

In [3]:
uber_trips_2014 = pd.read_csv('uber_trips_2014_nta.csv')

In [17]:
nta_table = nta_table.rename(columns = {'NTACode':'Nta'})

In [20]:
merged_df = pd.merge(uber_trips_2014,nta_table,how = 'inner',on = 'Nta')

In [21]:
merged_df

,pickup_datetime,pickup_latitude,pickup_longitude,base,Nta,BoroCode,BoroName,CountyFIPS,NTAName,Shape_Leng,Shape_Area,geometry
0,4/1/14 0:21,40.7316,-73.9873,B02512,MN22,1,Manhattan,061,East Village,13555.239073,1.089432e+07,(POLYGON ((-73.98255629231735 40.7313501336214...
1,4/1/14 1:19,40.7256,-73.9869,B02512,MN22,1,Manhattan,061,East Village,13555.239073,1.089432e+07,(POLYGON ((-73.98255629231735 40.7313501336214...
2,4/1/14 1:49,40.7271,-73.9803,B02512,MN22,1,Manhattan,061,East Village,13555.239073,1.089432e+07,(POLYGON ((-73.98255629231735 40.7313501336214...
3,4/1/14 4:19,40.7250,-73.9844,B02512,MN22,1,Manhattan,061,East Village,13555.239073,1.089432e+07,(POLYGON ((-73.98255629231735 40.7313501336214...
4,4/1/14 6:32,40.7322,-73.9863,B02512,MN22,1,Manhattan,061,East Village,13555.239073,1.089432e+07,(POLYGON ((-73.98255629231735 40.7313501336214...
...,...,...,...,...,...,...,...,...,...,...,...,...
3782543,9/6/2014 11:41:00,40.6943,-74.0008,B02682,MN25,1,Manhattan,061,Battery Park City-Lower Manhattan,43738.499000,1.901430e+07,(POLYGON ((-74.00078295209646 40.6942865152343...
3782544,9/17/2014 16:32:00,40.6943,-74.0008,B02764,MN25,1,Manhattan,061,Battery Park City-Lower Manhattan,43738.499000,1.901430e+07,(POLYGON ((-74.00078295209646 40.6942865152343...
3782545,7/6/2014 19:20:00,40.5258,-74.2157,B02617,SI11,5,Staten Island,085,Charleston-Richmond Valley-Tottenville,84848.457355,1.456746e+08,(POLYGON ((-74.20699885281918 40.5575674881705...
3782546,8/15/2014 23:00:00,40.5272,-74.2308,B02598,SI11,5,Staten Island,085,Charleston-Richmond Valley-Tottenville,84848.457355,1.456746e+08,(POLYGON ((-74.20699885281918 40.5575674881705...
3782547,8/22/2014 16:56:00,40.5481,-74.2297,B02598,SI11,5,Staten Island,085,Charleston-Richmond Valley-Tottenville,84848.457355,1.456746e+08,(POLYGON ((-74.20699885281918 40.5575674881705...